html, body {
    height: 100%;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 200, 133);
}

body {
    background-color: rgb(242, 237, 229);
}

.content {
    
    display:grid;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 20px;
    justify-content: center;
}

.card {
    border: 2px solid black;
    background-color: rgb(255, 208, 127);
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(3, 50px) 1fr 1fr;
    place-items: center;
}

.card h3, p {
    text-align: center;
}

.card button {
    width: 60px;
    margin: 3px;
}